# Pinata API Keys
# Dapatkan dari: https://app.pinata.cloud/keys → Generate API Key
VITE_PINATA_API_KEY=your_pinata_api_key_here
VITE_PINATA_SECRET_API_KEY=your_pinata_secret_here

# Contract Address (deployed on Sepolia Testnet)
VITE_CONTRACT_ADDRESS=0x28b7a3DEf55560F720611F03e69D2E6ed1bEABa9
