@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #12141E;
    color: #FFFFFF;
    @apply font-sans antialiased;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #12141E; /* design-bg */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #64748B; /* design-slate */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #06B6D4; /* design-cyan */
  }
}